<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>SNCB Alerts</title>
    <meta name="description" content="SNCB Alerts Web client">
    <meta name="author" content="Pol Dellaiera">

    <link rel="stylesheet" href="{{ asset('bundles/sncbdelayweb/css/leaflet.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/sncbdelayweb/css/style.css') }}"/>
    <script src="{{ asset('bundles/sncbdelayweb/js/vendors.min.js') }}"></script>
</head>
<body>
<div id="map"></div>
</body>
<script src="{{ asset('bundles/sncbdelayweb/js/app.min.js') }}"></script>
</html>